/shanaka wijerathna/java sinhala tutorial  05 - variables 2/nbproject/private/
/shanaka wijerathna/java sinhala tutorial  05 - variables 2/build/
/shanaka wijerathna/java sinhala tutorial - 06 - getting user input/nbproject/private/
/shanaka wijerathna/java sinhala tutorial - 06 - getting user input/build/
/shanaka wijerathna/java sinhala tutorial - 07 - joptionpane/nbproject/private/
/shanaka wijerathna/java sinhala tutorial - 07 - joptionpane/build/